<div class="no-links text-center">
    <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
    <h3>You do not have any shortened links yet.</h3>
    <h4>To shorten a link, paste it in the form and an optional vanity string</h4>
</div>
