<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="shorten-container">
            <%= form_for (@link) do |f| %>
            <div class="input-group">

                <%= f.text_field :full_url, class: 'form-control original_url',
                required: true, placeholder: "Paste URL to shorten" %>
                <span class="input-group-btn">
                    <%= f.submit "Shorten ",
		class: "btn btn-signup" %></span>
            </div>
            <% if current_user %>
            <div class="col-md-6 col-md-offset-3">
                <p><%= f.text_field :vanity_string, placeholder: "Enter custom url",
        class: 'panel panel-default custom_url' %></p>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
