<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="shorten-container">
            <%= form_for :link, url: links_path, method: :post do |f| %>
            <%= f.text_field :full_url, class: 'panel panel-default form-control original_url',
                required: true, placeholder: "Paste long URL to shorten" %>
            <% if current_user %>
            <%= f.text_field :vanity_string, class: 'panel panel-default form-control custom-url',
            placeholder: "Enter optional custom string" %>
            <% end %>
            <%= f.submit "Shorten ", class: "btn btn-shorten" %>
            <% end %>
        </div>
    </div>
</div>
