<footer class="footer">
            <div class="row footer-details text-center">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-link fa-3x footer-icons" aria-hidden="true"></i>
                        <p>Shorten and customize your URL for easy memorization</p>

                    </div>
                    <div class="col-md-4">

                        <i class="fa fa-bar-chart fa-3x footer-icons" aria-hidden="true"></i>
                        <p>
                            Track individual link analytics, gather information about how many times the link was clicked
                        </p>

                    </div>
                    <div class="col-md-4">
                      <i class="fa fa-pencil-square-o fa-3x footer-icons" aria-hidden="true"></i>
                        <p>
                            Manage your links by editing, deleting, activating and deactivating them
                        </p>

                    </div>
                </div>

            </div>
            <div class="row footer-details text-center copyright">
              <i class="fa fa-twitter-square social-icons" aria-hidden="true"></i>
              <i class="fa fa-facebook-square social-icons" aria-hidden="true"></i>
              <i class="fa fa-github-square social-icons" aria-hidden="true"></i>
            <p>Copyright &copy; Shotn 2016</p></div>

        </footer>
