<% if toplink %>
<div class="panel panel-default">
  <div class="panel-body">
    <h5>
      <%= toplink.title %>
    </h5>
    <p><%= link_to short_link(toplink),
            original_url_path(toplink.vanity_string), target: "_blank" %></p>
    <span class="label label-as-badge label-primary"><%= toplink.clicks%>
      clicks</span>
  </div>
</div>
<% else %>
<%= render partial: "root/partials/no_links" %>
<% end %>
