  <ul class="list-group">
      <li class="list-group-item">
        <% if recentlink %>
          <p><%= recentlink.full_url%></p>
          <div class="row">
              <div class="col-md-6">
                <p><%= link_to root_url + recentlink.vanity_string,
                original_url_path(recentlink.vanity_string), target: "_blank" %></p>
              </div>
              <div class="col-md-6 text-right">
                    <span class="label label-as-badge label-primary">
                    <%=time_ago(recentlink.created_at) %></span>
              </div>
          </div>
          <% else %>
          <%= render partial: "root/partials/_no_links" %>
          <% end %>
      </li>
  </ul>
