<%= render partial: 'application/shorten/shorten' %>
<div class="section center home">
	<div class="row container">
		<%= render "users/partials/no_links" if @links.empty? %>
		<ul>
			<%= render partial: "users/partials/user_links", collection: @links, as: :link %>
		</ul>
	</div>
</div>
