<%= render partial: 'root/partials/intro', link: @link %>
<section class "center home">
	<div class="row container">
		<div class="col-md-8 col-md-offset-2">
			<% if @links.empty? %>
			<%= render partial: "users/partials/no_links" %>
		<% else %>
			<%= render partial: "users/partials/user_links", collection: @links, as: :link %>
			<% end %>
		</div>
	</div>
</section>
