<%= render partial: 'partials/intro', link: @link %>
	<div class="row container">
		<div class="col-md-8 col-md-offset-3">
			<% if @links.empty? %>
			<%= render partial: "links/partials/no_links" %>
		<% else %>
			<%= render partial: "links/partials/user_links", collection: @links, as: :link %>
			<% end %>
		</div>
	</div>
