<ul class="list-group">
    <li class="list-group-item">
        <p><%= link.full_url%></p>
        <div class="row">
            <div class="col-md-6">
                <p><%= link_to "http://shotn/" + link.vanity_string,
                link_path(link), target: "_blank" %></p>
            </div>
            <div class="col-md-6 text-right">
                <span class="label label-as-badge label-primary"><%= distance_of_time_in_words(link.created_at, Time.now)%> ago</span>
            </div>
        </div>

    <%= link_to "Manage", edit_link_url(link)%>

</li>
</ul>
