.jumbotron_transp {
 padding: 30px;
 margin-bottom: 30px;
 margin-top: 50px;
 font-size: 18px;
 line-height: 2;
 color: inherit;
 background-color: white;
}

.signup_logo {
  font-family: 'Tangerine', serif;
  font-size: 60px;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: bold;
  color: #5e5e5e;

}

.btn-signup {
  background: orange;
  width: 100px;
  font-family: 'Lato';
  color: white;
  margin-left: 120px;

}
